@use "../../sass/variables";

.navbar {
  height: variables.$main-nav-height;
  // background-color: red;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .container {
    width: 80%;
    height: variables.$main-nav-height;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      font-size: 12px;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .nav-item {
      margin-left: 20px;
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 14px;
      border: 2px solid variables.$primary-color;
      border-radius: 8px;
    }
    .active-main-nav {
      background-color: variables.$primary-color;
    }
  }
}
