@use "../../sass/variables";

.react-table {
  margin-top: 50px;

  .react-table-nav {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .react-table-nav-item {
      // margin-right: 30px;
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 14px;
      border: 2px solid variables.$primary-color;
      border-radius: 8px;
    }
    .active-table-nav {
      background-color: variables.$primary-color;
    }
  }
}
